:root,
html,
body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: red;
}

html,
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#root {
    height: 100%;
}

.title {
    font-family: "Bungee", sans-serif;
    text-align: center;
    position: relative;
    z-index: 9999;
    text-shadow:
        2px 0 0 #ffffff,
        -2px 0 0 #ffffff,
        0 2px 0 #ffffff,
        0 -2px 0 #ffffff;
    font-size: 48px;
    margin: 0;
    padding-top: 60px;
    background-color: red;
}

.title-link {
    font-size: 48px;
    animation: fadeIn 0.5s ease-in 1 both;
}

.title_pic {
    width: 70px;
    position: absolute;
    z-index: -1;
    margin: auto;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    animation: fadeScaleIn 1.5s 0.25s ease-in-out 1 both
}

@keyframes fadeScaleIn {
    0% {
        opacity: 0;
        z-index: 9999;
    }

    50% {
        transform: scale(2) translateY(50px);
        z-index: -1;
    }

    75% {
        transform: scale(2);

    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1;
    }
}

button {
    cursor: pointer;
}