@import url('https://fonts.googleapis.com/css2?family=Bungee&display=block');

body {
    animation: fadeIn 0.5s ease-in 1 both;
}

.title {
    font-family: "Bungee", sans-serif;
    text-align: center;
    position: relative;
    z-index: 9999;
    text-shadow:
        2px 0 0 #ffffff,
        -2px 0 0 #ffffff,
        0 2px 0 #ffffff,
        0 -2px 0 #ffffff;
    font-size: 48px;
}

.title>span {
    margin: 0px 15px;
}

.title_pic {
    width: 70px;
    position: absolute;
    z-index: -1;
    margin: auto;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    animation: fadeScaleIn 1.5s 0.25s ease-in-out 1 both
}

.message_section{

}



@keyframes fadeScaleIn {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    50%{
        transform: scale(2) translateY(50px);
    }
    75%{
        transform: scale(2)
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn{
    0%{
        opacity: 0
    }
    100%{
        opacity: 1;
    }
}

@media screen and (max-width: 768px) {
    .title {
        font-size: 28px;
    }

    .title_pic {
        width: 40px;
    }
}