@import url('https://fonts.googleapis.com/css2?family=Bungee&display=block');

.home_wrapper {
    animation: fadeIn 1s ease-in 1 both;
    min-height: 90%;
    max-height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 0px;
}

* {
    box-sizing: border-box;
}

.loading{
    border: 16px solid white;
    border-radius: 50px;
    width: 90px;
    height: 90px;
    margin: 10rem auto;
    border-top: 16px solid red;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.welcome, .welcome>button {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
}

.welcome>button {
    background-color: red;
    color: white;
    font-weight: 900;
    margin: 0px 5px;
}

.message_container {
    border: 1px solid white;
    margin: 0px 20px;
    flex-grow: 1;
    overflow-y: auto;
    font-size: 1rem;
}

.message_bubble {
    padding: 5px;
}

.message_username{
    font-size: 1.4rem;
}

.message {
    border: 1px solid red;
    border-radius: 20px;
    padding: 10px;
    color: white;
    margin-top: 5px;
    width: fit-content;
    font-size: 1.25rem;
    display: inline-block;
}

.message_input_form {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-right: 20px;
    padding-left:20px;
}

.message_input {
    flex-grow: 1;
    width: 100%;
    font-size: 1.25rem;
}

.message_bubble_trash{
    display: flex;
    align-items: center;
}

.trash{
    margin-top: 5px;
    cursor: pointer;
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 768px) {
    .title {
        font-size: 28px;
    }

    .title_pic {
        width: 40px;
    }

    .home_wrapper {
        min-height: 80%;
        max-height: 80%;
    }
}