@import url('https://fonts.googleapis.com/css2?family=Bungee&display=block');

.home_wrapper {
    animation: fadeIn 1s ease-in 1 both;
    min-height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

* {
    box-sizing: border-box;
}

.welcome {
    text-align: center;
    font-family:'Courier New', Courier, monospace
}

.auth {
    text-align: center
}

.auth>button {
    background-color: red;
    color: white;
    font-weight: 900;
}

.sign_out {
    background-color: red;
    color: white;
    font-weight: 900;
    margin: 0px 5px;
}

.message_container {
    border: 1px solid white;
    margin: 0px 10px;
    flex-grow: 1;
    overflow-y: auto;
}

.message_bubble {
    margin: 5px 0px;
    padding: 5px;

}

.message {
    border: 1px solid red;
    border-radius: 20px;
    padding: 10px;
    color: white;
    margin-top: 5px;
    width: fit-content;
}

.message_input_form {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-bottom: 25px;
}

.message_input {
    flex-grow: 1;
    width: 100%;
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 768px) {
    .title {
        font-size: 28px;
    }

    .title_pic {
        width: 40px;
    }
}